<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style_l.css">
</head>

<body>
    <div class="inputs">
        <h1>Thoughts</h1>
        <form action="/login" method="post">
            <input class="input" type="text" name="email" placeholder="Enter your email">
            <input class="input" type="password" name="password" placeholder="Enter your password">
            <input class="input ct" type="submit" value="Login ">
        </form>

</body>

</html>