<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elaborated</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <div>
        <a class="tag2" href="/">Back to Home</a>
        <h1 class="shead"><%= filename %></h1>
        <p class="para"><%= filedata %></p>
    </div>
</body>

</html>