<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="">
        <h1>Update User</h1>
        <form action="/update/<%= user._id %>" method="post">   
            <input class="input" type="text" name="name" placeholder="Name" value="<%= user.name %>">
            <input class="input" type="text" name="email" placeholder="Email" value="<%= user.email %>">
            <input class="input" type="text" name="image" placeholder="Image url" value="<%= user.image %>">
            <input class="input ct2" type="submit" value="Update User">
            
        </form>
    </div>
    
</body>

</html>