<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="inputs">
        <h1>Create User</h1>
        <form action="/create" method="post">   
            <input class="input" type="text" name="name" placeholder="Name">
            <input class="input" type="text" name="email" placeholder="Email">
            <input class="input" type="text" name="image" placeholder="Image url">
            <input class="input ct" type="submit" value="Create User">
            
        </form>
    </div>
    <div>
        <a class="access" href="/read">Access Users</a>
    </div>

</body>

</html>