@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&family=Playwrite+NL:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;

}

body {
    background-color: white;
    height: 100vh;
    margin: 0;
}

.inputs {
    width: 100%;
    min-height: 100vh;
    color: white;
    padding: 2.5rem;
    background: #757F9A;
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);

    background: linear-gradient(to right, #D7DDE8, #757F9A);


}

.access {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.a_bt {
    background: #ED213A;
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);
    background: linear-gradient(to right, #93291E, #ED213A);
    border-radius: 4px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 16px;
    margin-bottom: 1.25rem;
    display: inline-block;
    color: white;
    text-decoration: none;
}


.txt {
    width: 40%;
    resize: none;
    font-size: 20px;
    color: black;
    font-weight: 600;
    background-color: transparent;
    border-width: 2px;
    border-color: #27272a;
    border-radius: 4px;
    display: block;
    padding: 20px;
    margin-top: 20px;
}

.i_bt {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: #BBD2C5;
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);
    background: linear-gradient(to right, #536976, #BBD2C5);

    display: block;
    margin-top: 15px;
    border-radius: 6px;
    border: none;
    color: black;
    font-weight: 900;
    font-size: 15px;
    width: 10rem;
}

.post>h4 {
    /* color: #3B82F6; */
    color: #BBD2C5;
    margin-bottom: 8px;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-header h2 {
    margin: 0;
    color: rgb(122, 94, 137);
    font-size: 30px;
}

.postcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.post {
    background-color: rgb(47, 46, 46);
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    overflow: hidden;
}

.post-content {
    overflow-y: auto;
    flex-grow: 1;
    margin-bottom: 10px;
}

.post h4 {
    margin: 0 0 10px 0;
}

.post .content {
    margin: 0;
    word-wrap: break-word;
}

.access {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.d_bt {
    text-decoration: none;
    color: white;
    background-color: rgb(6, 103, 168);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.d_bt {
    background-color: rgb(120, 71, 71);
}

.content {
    font-size: 20px;
    font-weight: 600;
    color: #e4e5e6;
}

.main {
    display: flex;
    align-items: center;
    margin-bottom: 70px;

}

.main>h1 {
    font-family: "Pacifico", cursive;
    margin: 0;
    color: #d44949;
    letter-spacing: 3px;
    font-size: 50px;
}